doctype html
html

    head
        title #{title}
        script(src="js/bundle.js")
        link(href="css/main.css", rel="stylesheet")

    body
        h1 #{title}

    p.
        First line
        Second line

